<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="login-page">
  <div class="form-log">
    <form class="login-form">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse e-mail" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
      <button type="submit">Se connecter</button>
      <p class="message">Pas encore membre? <a href="/users/sign_up">Créer un compte</a></p>
      <p class="message"><a href="/users/password/new">Mot de passe oublié?</a></p>
    </form>
  </div>
</div>

<% end %>