/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.search-bar-container {
	width: 100%;
	padding: 40px;
}

.logo {
	width: 165px;
    height: 36px;
    margin: 10px 10px 10px 0px;
}

.maxwdth {
	width: 100%;
	padding: 40px;
}

.blue {
	background-color: #15465e;
}

.bg-perso {
	background-color: #fad23a;
}

.no-border {
	border-bottom-style: none;
}

.connexion-btn {
	background-color: #15465e;
	color: #FFF;
}

.search-box-btn {
	color: #6c757d;
    background-color: #fad23a;
    background-image: none;
    border-left-color: #6c757d;
    border-top-color: #fad23a;
    border-right-color: #fad23a;
    border-bottom-color: #fad23a;
}

option {
	background-color: #ffeb9e;
}

h1 {
	color: #fad23a;
	font-weight: bold;
}

.navbar-new {
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    z-index: 10000000;
}

.login-container-home-bcgrnd {
	background-image: url(/img/smile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 591px;
	background-position-y: -260px;
	margin-bottom: -16px;
}

.login-row {
	margin-bottom: 20px;
}

.back-nav {
	background-color: #fad23a;
}

.white-bcgrnd-log {
	background-color: #FFF;
	margin: 35px 0px 35px 0px;
}

.back-nav-log {
	background-color: transparent;
}

a {
	color: #15465e;
}

.maxwidth-btn {
	width: 100%;
}

body {
	padding-top: 60px;
}